parameters:
    level: 5
    paths:
        - .
    bootstrapFiles:
        - vendor/yiisoft/yii2/Yii.php
    treatPhpDocTypesAsCertain: false
    excludePaths:
        analyseAndScan:
            - vendor
            - tests
            - views
            - messages
            - runtime
            - widgets/Timeline.php
    tmpDir: runtime/phpstan
